.MultiCarousel { float: left; overflow: hidden; padding: 50px; width: 85%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 15s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:1px; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

.footer{
    background-color:#333333;
}

.navbar-ente{
    background-color: #990000;
   
}

.item{
    width: 500px;
}

.container {
    margin-top: 20px;
}

.carousel-control:hover{
    background-color: darkgray;
}




.carousel{
    transition-delay: 40s;
    transition-duration: 30s;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


@font-face {
    font-family: 'Swiss';
    src: url('/fonts/Swiss721CondensedBT.ttf');
    font-weight: 900;
}

.p-ente{
    font-family: Swiss;
    font-size:15px;

}

.p-ente-rojo{
  font-family: Swiss;
  font-size:18px;
  color:#990000;
}

.h2-ente{
  font-family: Swiss;
  color: #990000;
  font-size:40px;

}



.h3-ente{
  font-family: Swiss;
  color: #808080;
  font-size:30px;

}
.h5-ente{
  font-family: Swiss;
  color: #808080;
  font-size:20px;

}

.h5-ente-rojo{
  font-family: Swiss;
  color: #990000;
  font-size:20px;

}


.navbar-nav>li{
    border-right: 0.5px solid #500000
  }


  .fa-ente {
    color: white;
}

#regForm {
    background-color: #ffffff;
    margin: 10px auto;
    
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #990000;
  }

  .icon{
    opacity:1;
  }

  button span {
    /*overwriting*/
    color: white;
    font-size: 15px;
}


.fondo {
  height: 200px;
  
  background: black;
  overflow: hidden;
  background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi");
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); /* The least supported option. */
}

.imgroja {
  object-fit: cover;
}
